{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1 class="login_message">Welcome to The World's Greatest Expense Tracker</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <p>{{ error }}</p>
        <p>Don't have an account yet? <a href="{{ url_for('register') }}">Register</a></p>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
